body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa91;
  padding: var(--spacing-xl);

  border: solid 0.2px var(--features-bg-light);
  border-radius: 2rem 2rem 0 0;

  h2 {
    text-align: center;
    color: var(--features-text);
  }
}
.contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-name {
  @media (max-width: 502px) {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
input,
textarea {
  border: none;
  box-shadow: inset 0px 0px 2px 2px #0000002a;
  padding: 1rem;
  border-radius: 1rem;
  color: var(--text-color);
  &:focus-visible {
    outline: 3px solid #3498db;
    outline-offset: 4px;
  }
}   
