@import url(./main.css);
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
main {
  flex: 1;
}
header {
  width: 100%;
  display: flex;
  justify-content: center;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  padding: var(--spacing-md);
}
.nav-logo a img {
  width: 10em;
  padding: 0.5em;
}
.nav-menu {
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.nav-menu li {
  padding: 0 var(--spacing-md);
}
.nav-menu li a {
  color: var(--text-color);
  font-size: 1.2rem;
}
.activ-link {
  text-decoration: underline;
  text-underline-offset: 0.3em;
}

@media (max-width: 768px) {
  .navigation {
    flex-direction: column;
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
  }
}
@media (max-width: 430px) {
  .nav-menu {
    flex-direction: column;
    gap: 2em;
  }
  .nav-menu li {
    width: 100%;
    text-align: center;
  }
}
