@import url(./main.css);
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
main {
  flex: 1;
}
header {
  width: 100%;
  display: flex;
  justify-content: center;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  padding: var(--spacing-md);
}
.nav-logo a img {
  width: 10em;
  padding: 0.5em;
}
.nav-menu {
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.nav-menu li {
  padding: 0 var(--spacing-md);
}
.nav-menu li a {
  color: var(--text-color);
  font-size: 1.2rem;
}
.activ-link {
  text-decoration: underline;
  text-underline-offset: 0.3em;
}

/*==========  
Hamburger Menu
========== */
.hamburger-menu {
  display: inline-block;
  cursor: pointer;
  z-index: 1;
}
.bar1,
.bar2,
.bar3 {
  width: 2em;
  height: 2px;
  color: black;
  margin: 0.5em 0;
}
.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}